/******************
    GENERAL-RULE
******************/
:root{
    --primaryColor:#0084fd;
    --secondaryColor:#9792e4;
    --tertiaryColor:#333333;
    --goldColor:#fdc15f;
    --textLitePurple:#bfbcee;
    --cardBackground:#b5ddff;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* components */
.row{
    max-width: 1142px;
}

.box{
    width: 80%;
    margin: auto;
}

.btn{
    padding:0.5rem 1rem;
    border-radius: 20px;
    border: none;
}

.fremePartner{
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    object-fit: cover;
}

.spaceFont{line-height:30px}

.borderRad{border-radius: 20px;}
.borderCircle{border-radius: 50%;}

/* background */
.bg-primary{background-color: var(--primaryColor);}
.bg-secondary{background-color: var(--secondaryColor);}
.bg-footer{background-color: var(--tertiaryColor);}
.bg-skylight{background-color: var(--cardBackground);}
.bg-white{background-color: white;}

/* color */
.cl-primary{color: var(--primaryColor);}
.cl-secondary{color: var(--secondaryColor);}
.cl-white{color: white;}
.cl-black{color: #000000;}
.cl-gold{color: var(--goldColor);}

/******************
    Header
******************/
header{
    position: sticky;
    top: 0;
}
/* navbar */
.navbar{
    padding:1rem 0rem;
}

.navbar ul{
    list-style: none;
}

.navbar a{
    color: white;
    text-decoration: none;
}

.navbar ul li{
    padding: 0 0.5rem;
}

.navbar ul li:hover{
    transform: translateY(2px);
    font-weight: 900;
    color: var(--cardBackground);
}

.menuList{
    display: none;
}

/******************
    Main
******************/
/* section1 */
.card{
    border-radius: 20px;
    margin-top: 3rem;
}

button i{
    margin-right: 0.5em;
    font-size: 17px;
}

.iconCard{
    font-size: 80px;
}

/* section2 */

/* section3 */

/* section4 */

/* section5 */

/* section6 */

/*------------------
        Footer
------------------*/

/*---------------------------
        Display TABLET
---------------------------*/

@media screen and (min-width: 768px) {
/* section1 DemoAplication */
    .box{
        width: 90%;
        margin: auto;
    }

    .containerXL .demoAplication{
        display: flex;
        gap: 20px;
        flex-wrap: wrap;
        margin-bottom: 4rem;
    }

    #colXL{
        width: calc(100% / 3 * 2 - 20px);
    }

    #colXL img{
        width: 23%;
    }
    
    #colXL .card .imgBox{
        height: 100%;
        display: flex;
        justify-content: flex-end;
    }

    .col12 .card{
        height: 100%;
    }
    
    .row .col12{
        width: calc(100% / 3 - 20px);
    }
    
/* section2 planing */
    .planing .row{
        display: flex;
        flex-direction: column;
        padding-top: 3rem;
    }

    .planing .col12{
        width: 90%;
        margin: auto;
    }

/* section3 Testimoneal */
    .testimoneal .card{
        width: 100%;
        flex-direction: row;
        text-align: left;
    }

    .testimoneal .fremePartner{
        margin:0px 0.5rem;
        width: 8rem;
        height: 8rem;
    }

    .textProfile{
        margin-left: 2rem;
    }
    
/* section4 Benefits */
    .benefits .cardBox{
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }

    .benefits .card{
        width: calc(100% / 2 - 20px);
    }
    
/* section5 AboutUs */
    .aboutUs .row{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .aboutUs .left{
        width: 50%;
    }

    .aboutUs .right{
        width: 30%;
    }
    
/* section6 getStarted */
    .getStarted button{
        width: 30%;
    }
}

/*---------------------------
        Display Monitor
---------------------------*/

@media screen and (min-width: 1160px) {
    
    /* header */
    header .navbar{
        width: 80%;
        margin: auto;
    }
    .navbar i.hamburger{
        display: none;
    }

    .navbar .menuList{
        display:flex;
    }

    #colXL .card {
        display: flex;
        flex-direction: row;
    }

    #colXL .card .left{
        width: 50%;
    }

    #colXL .card .right{
        width: 50%;
    }

    #colXL img{
        width: 60%;
    }

    /* main */
    /* section1 DemoAplication*/
    main .containerXL{
        width: 100%;
        margin: auto;
        margin-bottom: 4rem;
    }

    main .containerXL .demoAplication{
        width: 100%;
        margin: auto;
    }

    #colXL{
        width: calc(100% / 3 * 2 -15px);
    }
    
    .demoAplication .row .col12{
        width: calc(100% / 3 - 15px);
    }

    /* section2 planing*/
    .planing .row{
        display: flex;
        flex-direction: row;
    }

    .planing .row .col12:nth-child(2){
        margin-bottom: 0;
        width: 100%;
    }

    .secondPlaning{
        width: 50%;
    }

    #plan2{
        width: 50%;
    }

    /* section4 Benefits*/
    .benefits .box .card{
        width: calc(100% / 3 - 20px);
    }
    
    /* section6 getStarted*/
    div.getStarted{
        margin-bottom: 0;
    }
}
